---
// Componente AccessBanner.astro
---

<div class="bg-blue-800 text-white text-center p-6">
    <a href="#" class="inline-block bg-purple-600 hover:bg-purple-700 px-5 py-3 rounded">
      Acceso total aquí
    </a>
  </div>
  