---
// Componente FeatureList.astro
---

<div class="flex flex-col md:flex-row justify-center items-center bg-blue-700 p-4 text-white">
  <div class="flex items-center m-2">
    <svg class="h-6 w-6 fill-current"></svg>
    <span class="ml-2">Incluye certificación universitaria</span>
  </div>
  <div class="flex items-center m-2">
    <svg class="h-6 w-6 fill-current"></svg>
    <span class="ml-2">Gana premios todos los meses</span>
  </div>
</div>
