---
// Componente HeroSection.astro
---

<section class="text-center bg-blue-800 text-white p-20">
    <h1 class="text-5xl font-bold mb-6">Educación online de calidad</h1>
    <p class="text-xl mb-6">Accede a +650 cursos y +50 especializaciones desde S/ 16 al mes</p>
    <button class="bg-purple-600 hover:bg-purple-700 px-5 py-3 rounded">Acceso total aquí</button>
  </section>
  